[submodule "thirdparty/libkindrv"]
	path = thirdparty/libkindrv
	url = https://github.com/IFS-HSR/libkindrv 
[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "thirdparty/json"]
	path = thirdparty/json
	url = https://github.com/nlohmann/json.git
	branch = master
